{% extends 'portfolio/layout.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/forms.css' %}">
{% endblock %}

{% block main %}
    <style>form::before {
        content: 'Adicionar TFC 📝';
        font-size: 1.7em;
        font-weight: 500;
        position: absolute;
        top: 20px;
        left: 150px;
    }</style>

    <div class="container">
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Gravar">

        </form>
    </div>

{% endblock %}