:root {
  --gradient: linear-gradient(
    45deg,
    #CACAE6,
    #D3DBF0,
    #CAD2D9,
    #D3EAF0,
    #CAE6E4
  );
}

main {
  display: grid;
  gap: 1rem;
  height: auto;
  padding: 50px 0;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo {
  margin: 2% 0;

}
.subtitulo {
  margin-bottom: 1%;
}
.subcontainer {
  padding: 0 30px;
  width: 50%;
  height: 200px;
  display: grid;
  gap: 1rem;
  overflow: auto;
  -ms-overflow-style: none; /*scroll edge*/
  scrollbar-width: none; /*scroll firefox*/
}
.subcontainer > a {
  padding: 20px 0%;
  cursor: pointer;
  text-decoration: none;
  color: #3B3A3A;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--gradient);
  background-size: 400%;
  margin-top: 5px;
}
.subcontainer::-webkit-scrollbar {
  display: none;
}
.subcontainer > a:hover {
  animation: gradient-anim 3s infinite alternate;
}
.caixa {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.caixa:first-child {
  margin-top: 5px;
}
.caixa:last-child {
  margin-bottom: 5px;
}
.nome {
  justify-content: flex-start;
  padding: 10px 20px 0;
}
.info {
  display: flex;
  padding: 0 20px 10px;
}
.semestre {
  margin-left: auto;
}
.interesse > * {
  padding: 10px 20px;
}


.caixa:hover {
  animation: scale-hovering .5s alternate;
}
#modal {
  padding: 1em;
  max-width: 80ch;
  width: 50ch;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / .3);
  border-radius: 5px;
  margin: auto;
  position: relative;

}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.ano-semestre {
  border: 1px solid rgba(0 0 0 / .3);
  background: rgba(0 0 0 / .07);
  border-radius: 5px;
  padding: 0 10px;
  text-align: right;
}

.descricao > p {
  border: 1px solid rgba(0 0 0 / .3);
  background: rgba(0 0 0 / .07);
  text-align: center;
  padding: 20px 5px;
  border-radius: 5px;
}
.subtext {
  text-align: center;
}
.docentes {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}
.teorica {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.teorica > p {
  border: 1px solid rgba(0 0 0 / .3);
  background: rgba(0 0 0 / .07);
  text-align: center;
  border-radius: 5px;
  padding: 0 10px;
}
.teorica > a {
  text-decoration: none;
  color: #3B3A3A;
  cursor: pointer;
  transition: 1s ease-in-out;
   border: 1px solid rgba(0 0 0 / .3);
  background: rgba(0 0 0 / .07);
  text-align: center;
  border-radius: 5px;
  padding: 0 10px;
}
.teorica > a:focus {
  outline: none;
}

.teorica > a:hover {
  animation: scale-hovering 1s alternate;
}
.pratica {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.pratica > p {
  border: 1px solid rgba(0 0 0 / .3);
  background: rgba(0 0 0 / .07);
  text-align: center;
  border-radius: 5px;
  padding: 0 10px;
}
.projetos {
  text-align: center;
}
.close-button {
  font-size: 1rem;
  position: absolute;
  top: 5px;
  right: 14px;
  cursor: pointer;

}

@keyframes gradient-anim {
  0% {

    background-position: left;
  }
  50% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
    background-position: right;
  }
}
@keyframes scale-hovering {
    0% {
      transform: scale(1);

  }
  50% {
    transform: scale(1.03);
    background-color: rgba(211,219,240,.6);
  }
  100% {
    transform: scale(1);
  }
}